.parallax-header{
    background: #000;
    background: linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.8)
    ),url('img/index.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.header-content{
    padding: 250px 0;
}
.s-button{
    display:inline-block;
    border:2px solid rgb(134, 51, 173);
    padding: 10px 20px;
    color:#fff;
    text-decoration:none;
    transition:0.5s;
    cursor:pointer;
    background:rgb(134, 51, 173);
    margin-top: 1.5rem;
}
.s-button:hover{
    border:5px solid rgb(169, 111, 196);
    background:rgb(169, 111, 196);
    color:#fff;
    display:inline-block;
    border-radius:50px;
    font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"; 
}
a, a.remove-link, a.remove-link:visited, a.remove-link:active , a:hover{
    text-decoration: none;
    color: #fff;
}